In [10]:
import pandas as pd
import sklearn
import matplotlib.pyplot as plt
import numpy as np
from sklearn.linear_model import LinearRegression
data = pd.read_csv('F:\\Linear Regression\\insurance.csv')

In [3]:
data.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [4]:
x = data.drop('charges', axis=1)
x

      age     sex     bmi  children smoker     region
0      19  female  27.900         0    yes  southwest
1      18    male  33.770         1     no  southeast
2      28    male  33.000         3     no  southeast
3      33    male  22.705         0     no  northwest
4      32    male  28.880         0     no  northwest
5      31  female  25.740         0     no  southeast
6      46  female  33.440         1     no  southeast
7      37  female  27.740         3     no  northwest
8      37    male  29.830         2     no  northeast
9      60  female  25.840         0     no  northwest
10     25    male  26.220         0     no  northeast
11     62  female  26.290         0    yes  southeast
12     23    male  34.400         0     no  southwest
13     56  female  39.820         0     no  southeast
14     27    male  42.130         0    yes  southeast
15     19    male  24.600         1     no  southwest
16     52  female  30.780         1     no  northeast
17     23    male  23.845         0     no  northeast
18     56    male  40.300         0     no  southwest
19     30    male  35.300         0    yes  southwest
20     60  female  36.005         0     no  northeast
21     30  female  32.400         1     no  southwest
22     18    male  34.100         0     no  southeast
23     34  female  31.920         1    yes  northeast
24     37    male  28.025         2     no  northwest
25     59  female  27.720         3     no  southeast
26     63  female  23.085         0     no  northeast
27     55  female  32.775         2     no  northwest
28     23    male  17.385         1     no  northwest
29     31    male  36.300         2    yes  southwest
...   ...     ...     ...       ...    ...        ...
1308   25  female  30.200         0    yes  southwest
1309   41    male  32.200         2     no  southwest
1310   42    male  26.315         1     no  northwest
1311   33  female  26.695         0     no  northwest
1312   34    male  42.900         1     no  southwest
1313   19  female  34.700         2    yes  southwest
1314   30  female  23.655         3    yes  northwest
1315   18    male  28.310         1     no  northeast
1316   19  female  20.600         0     no  southwest
1317   18    male  53.130         0     no  southeast
1318   35    male  39.710         4     no  northeast
1319   39  female  26.315         2     no  northwest
1320   31    male  31.065         3     no  northwest
1321   62    male  26.695         0    yes  northeast
1322   62    male  38.830         0     no  southeast
1323   42  female  40.370         2    yes  southeast
1324   31    male  25.935         1     no  northwest
1325   61    male  33.535         0     no  northeast
1326   42  female  32.870         0     no  northeast
1327   51    male  30.030         1     no  southeast
1328   23  female  24.225         2     no  northeast
1329   52    male  38.600         2     no  southwest
1330   57  female  25.740         2     no  southeast
1331   23  female  33.400         0     no  southwest
1332   52  female  44.700         3     no  southwest
1333   50    male  30.970         3     no  northwest
1334   18  female  31.920         0     no  northeast
1335   18  female  36.850         0     no  southeast
1336   21  female  25.800         0     no  southwest
1337   61  female  29.070         0    yes  northwest

[1338 rows x 6 columns]

In [5]:
y = data.charges
y

0       16884.92400
1        1725.55230
2        4449.46200
3       21984.47061
4        3866.85520
5        3756.62160
6        8240.58960
7        7281.50560
8        6406.41070
9       28923.13692
10       2721.32080
11      27808.72510
12       1826.84300
13      11090.71780
14      39611.75770
15       1837.23700
16      10797.33620
17       2395.17155
18      10602.38500
19      36837.46700
20      13228.84695
21       4149.73600
22       1137.01100
23      37701.87680
24       6203.90175
25      14001.13380
26      14451.83515
27      12268.63225
28       2775.19215
29      38711.00000
           ...
1308    33900.65300
1309     6875.96100
1310     6940.90985
1311     4571.41305
1312     4536.25900
1313    36397.57600
1314    18765.87545
1315    11272.33139
1316     1731.67700
1317     1163.46270
1318    19496.71917
1319     7201.70085
1320     5425.02335
1321    28101.33305
1322    12981.34570
1323    43896.37630
1324     4239.89265
1325    13143.33665
1326     7050.02130
1327     9377.90470
1328    22395.74424
1329    10325.20600
1330    12629.16560
1331    10795.93733
1332    11411.68500
1333    10600.54830
1334     2205.98080
1335     1629.83350
1336     2007.94500
1337    29141.36030
Name: charges, Length: 1338, dtype: float64

In [6]:
data_dummies = pd.get_dummies(data[['sex','smoker','region']])
data_dummies

,sex_female,sex_male,smoker_no,smoker_yes,region_northeast,region_northwest,region_southeast,region_southwest
0,1,0,0,1,0,0,0,1
1,0,1,1,0,0,0,1,0
2,0,1,1,0,0,0,1,0
3,0,1,1,0,0,1,0,0
4,0,1,1,0,0,1,0,0
5,1,0,1,0,0,0,1,0
6,1,0,1,0,0,0,1,0
7,1,0,1,0,0,1,0,0
8,0,1,1,0,1,0,0,0
9,1,0,1,0,0,1,0,0
10,0,1,1,0,1,0,0,0
11,1,0,0,1,0,0,1,0
12,0,1,1,0,0,0,0,1
13,1,0,1,0,0,0,1,0
14,0,1,0,1,0,0,1,0
15,0,1,1,0,0,0,0,1
16,1,0,1,0,1,0,0,0
17,0,1,1,0,1,0,0,0
18,0,1,1,0,0,0,0,1
19,0,1,0,1,0,0,0,1
20,1,0,1,0,1,0,0,0
21,1,0,1,0,0,0,0,1
22,0,1,1,0,0,0,1,0
23,1,0,0,1,1,0,0,0
24,0,1,1,0,0,1,0,0
25,1,0,1,0,0,0,1,0
26,1,0,1,0,1,0,0,0
27,1,0,1,0,0,1,0,0
28,0,1,1,0,0,1,0,0
29,0,1,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...
1308,1,0,0,1,0,0,0,1
1309,0,1,1,0,0,0,0,1
1310,0,1,1,0,0,1,0,0
1311,1,0,1,0,0,1,0,0
1312,0,1,1,0,0,0,0,1
1313,1,0,0,1,0,0,0,1
1314,1,0,0,1,0,1,0,0
1315,0,1,1,0,1,0,0,0
1316,1,0,1,0,0,0,0,1
1317,0,1,1,0,0,0,1,0
1318,0,1,1,0,1,0,0,0
1319,1,0,1,0,0,1,0,0
1320,0,1,1,0,0,1,0,0
1321,0,1,0,1,1,0,0,0
1322,0,1,1,0,0,0,1,0
1323,1,0,0,1,0,0,1,0
1324,0,1,1,0,0,1,0,0
1325,0,1,1,0,1,0,0,0
1326,1,0,1,0,1,0,0,0
1327,0,1,1,0,0,0,1,0
1328,1,0,1,0,1,0,0,0
1329,0,1,1,0,0,0,0,1
1330,1,0,1,0,0,0,1,0
1331,1,0,1,0,0,0,0,1
1332,1,0,1,0,0,0,0,1
1333,0,1,1,0,0,1,0,0
1334,1,0,1,0,1,0,0,0
1335,1,0,1,0,0,0,1,0
1336,1,0,1,0,0,0,0,1
1337,1,0,0,1,0,1,0,0

In [7]:
x = x.drop(['sex','smoker','region'], axis=1)
x

      age     bmi  children
0      19  27.900         0
1      18  33.770         1
2      28  33.000         3
3      33  22.705         0
4      32  28.880         0
5      31  25.740         0
6      46  33.440         1
7      37  27.740         3
8      37  29.830         2
9      60  25.840         0
10     25  26.220         0
11     62  26.290         0
12     23  34.400         0
13     56  39.820         0
14     27  42.130         0
15     19  24.600         1
16     52  30.780         1
17     23  23.845         0
18     56  40.300         0
19     30  35.300         0
20     60  36.005         0
21     30  32.400         1
22     18  34.100         0
23     34  31.920         1
24     37  28.025         2
25     59  27.720         3
26     63  23.085         0
27     55  32.775         2
28     23  17.385         1
29     31  36.300         2
...   ...     ...       ...
1308   25  30.200         0
1309   41  32.200         2
1310   42  26.315         1
1311   33  26.695         0
1312   34  42.900         1
1313   19  34.700         2
1314   30  23.655         3
1315   18  28.310         1
1316   19  20.600         0
1317   18  53.130         0
1318   35  39.710         4
1319   39  26.315         2
1320   31  31.065         3
1321   62  26.695         0
1322   62  38.830         0
1323   42  40.370         2
1324   31  25.935         1
1325   61  33.535         0
1326   42  32.870         0
1327   51  30.030         1
1328   23  24.225         2
1329   52  38.600         2
1330   57  25.740         2
1331   23  33.400         0
1332   52  44.700         3
1333   50  30.970         3
1334   18  31.920         0
1335   18  36.850         0
1336   21  25.800         0
1337   61  29.070         0

[1338 rows x 3 columns]

In [8]:
x = pd.concat([data_dummies,x],axis=1)
x

,sex_female,sex_male,smoker_no,smoker_yes,region_northeast,region_northwest,region_southeast,region_southwest,age,bmi,children
0,1,0,0,1,0,0,0,1,19,27.900,0
1,0,1,1,0,0,0,1,0,18,33.770,1
2,0,1,1,0,0,0,1,0,28,33.000,3
3,0,1,1,0,0,1,0,0,33,22.705,0
4,0,1,1,0,0,1,0,0,32,28.880,0
5,1,0,1,0,0,0,1,0,31,25.740,0
6,1,0,1,0,0,0,1,0,46,33.440,1
7,1,0,1,0,0,1,0,0,37,27.740,3
8,0,1,1,0,1,0,0,0,37,29.830,2
9,1,0,1,0,0,1,0,0,60,25.840,0
10,0,1,1,0,1,0,0,0,25,26.220,0
11,1,0,0,1,0,0,1,0,62,26.290,0
12,0,1,1,0,0,0,0,1,23,34.400,0
13,1,0,1,0,0,0,1,0,56,39.820,0
14,0,1,0,1,0,0,1,0,27,42.130,0
15,0,1,1,0,0,0,0,1,19,24.600,1
16,1,0,1,0,1,0,0,0,52,30.780,1
17,0,1,1,0,1,0,0,0,23,23.845,0
18,0,1,1,0,0,0,0,1,56,40.300,0
19,0,1,0,1,0,0,0,1,30,35.300,0
20,1,0,1,0,1,0,0,0,60,36.005,0
21,1,0,1,0,0,0,0,1,30,32.400,1
22,0,1,1,0,0,0,1,0,18,34.100,0
23,1,0,0,1,1,0,0,0,34,31.920,1
24,0,1,1,0,0,1,0,0,37,28.025,2
25,1,0,1,0,0,0,1,0,59,27.720,3
26,1,0,1,0,1,0,0,0,63,23.085,0
27,1,0,1,0,0,1,0,0,55,32.775,2
28,0,1,1,0,0,1,0,0,23,17.385,1
29,0,1,0,1,0,0,0,1,31,36.300,2
...,...,...,...,...,...,...,...,...,...,...,...
1308,1,0,0,1,0,0,0,1,25,30.200,0
1309,0,1,1,0,0,0,0,1,41,32.200,2
1310,0,1,1,0,0,1,0,0,42,26.315,1
1311,1,0,1,0,0,1,0,0,33,26.695,0
1312,0,1,1,0,0,0,0,1,34,42.900,1
1313,1,0,0,1,0,0,0,1,19,34.700,2
1314,1,0,0,1,0,1,0,0,30,23.655,3
1315,0,1,1,0,1,0,0,0,18,28.310,1
1316,1,0,1,0,0,0,0,1,19,20.600,0
1317,0,1,1,0,0,0,1,0,18,53.130,0
1318,0,1,1,0,1,0,0,0,35,39.710,4
1319,1,0,1,0,0,1,0,0,39,26.315,2
1320,0,1,1,0,0,1,0,0,31,31.065,3
1321,0,1,0,1,1,0,0,0,62,26.695,0
1322,0,1,1,0,0,0,1,0,62,38.830,0
1323,1,0,0,1,0,0,1,0,42,40.370,2
1324,0,1,1,0,0,1,0,0,31,25.935,1
1325,0,1,1,0,1,0,0,0,61,33.535,0
1326,1,0,1,0,1,0,0,0,42,32.870,0
1327,0,1,1,0,0,0,1,0,51,30.030,1
1328,1,0,1,0,1,0,0,0,23,24.225,2
1329,0,1,1,0,0,0,0,1,52,38.600,2
1330,1,0,1,0,0,0,1,0,57,25.740,2
1331,1,0,1,0,0,0,0,1,23,33.400,0
1332,1,0,1,0,0,0,0,1,52,44.700,3
1333,0,1,1,0,0,1,0,0,50,30.970,3
1334,1,0,1,0,1,0,0,0,18,31.920,0
1335,1,0,1,0,0,0,1,0,18,36.850,0
1336,1,0,1,0,0,0,0,1,21,25.800,0
1337,1,0,0,1,0,1,0,0,61,29.070,0

In [12]:
lm = LinearRegression()
model = lm.fit(x,y)

In [13]:
# r square
model.score(x,y)

0.7509130345985208

In [17]:
pd.Series(model.coef_)

0        65.657180
1       -65.657180
2    -11924.267271
3     11924.267271
4       587.009235
5       234.045336
6      -448.012814
7      -373.041756
8       256.856353
9       339.193454
10      475.500545
dtype: float64

In [18]:
x.columns

Index(['sex_female', 'sex_male', 'smoker_no', 'smoker_yes', 'region_northeast',
       'region_northwest', 'region_southeast', 'region_southwest', 'age',
       'bmi', 'children'],
      dtype='object')

In [22]:
pd.concat([pd.Series(x.columns),pd.Series(model.coef_)], axis = 1)

                   0             1
0         sex_female     65.657180
1           sex_male    -65.657180
2          smoker_no -11924.267271
3         smoker_yes  11924.267271
4   region_northeast    587.009235
5   region_northwest    234.045336
6   region_southeast   -448.012814
7   region_southwest   -373.041756
8                age    256.856353
9                bmi    339.193454
10          children    475.500545

# Building Model using StatsModel

In [25]:
import statsmodels.api as sm
from scipy import stats

x2 = sm.add_constant(x)
est = sm.OLS(y,x2)
print(est.fit().summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                charges   R-squared:                       0.751
Model:                            OLS   Adj. R-squared:                  0.749
Method:                 Least Squares   F-statistic:                     500.8
Date:                Thu, 21 Feb 2019   Prob (F-statistic):               0.00
Time:                        23:15:23   Log-Likelihood:                -13548.
No. Observations:                1338   AIC:                         2.711e+04
Df Residuals:                    1329   BIC:                         2.716e+04
Df Model:                           8
Covariance Type:            nonrobust
====================================================================================
                       coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------
const             -296.4168    430.507     -0.689      0.491   -1140.964     548.130
sex_female         -82.5512    269.226     -0.307      0.759    -610.706     445.604
sex_male          -213.8656    274.976     -0.778      0.437    -753.299     325.568
smoker_no        -1.207e+04    282.338    -42.759      0.000   -1.26e+04   -1.15e+04
smoker_yes        1.178e+04    313.530     37.560      0.000    1.12e+04    1.24e+04
region_northeast   512.9050    300.348      1.708      0.088     -76.303    1102.113
region_northwest   159.9411    301.334      0.531      0.596    -431.201     751.083
region_southeast  -522.1170    330.759     -1.579      0.115   -1170.983     126.749
region_southwest  -447.1459    310.933     -1.438      0.151   -1057.119     162.827
age                256.8564     11.899     21.587      0.000     233.514     280.199
bmi                339.1935     28.599     11.860      0.000     283.088     395.298
children           475.5005    137.804      3.451      0.001     205.163     745.838
==============================================================================
Omnibus:                      300.366   Durbin-Watson:                   2.088
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              718.887
Skew:                           1.211   Prob(JB):                    7.86e-157
Kurtosis:                       5.651   Cond. No.                     5.81e+17
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 1.04e-29. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

In [26]:
# consider p-values and remove variable with high coefficient
x1 = x.loc[:,['age','bmi','children','smoker_no','smoker_yes']]
x21 = sm.add_constant(x1)
mod1 = sm.OLS(y,x21)
print(mod1.fit().summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                charges   R-squared:                       0.750
Model:                            OLS   Adj. R-squared:                  0.749
Method:                 Least Squares   F-statistic:                     998.1
Date:                Thu, 21 Feb 2019   Prob (F-statistic):               0.00
Time:                        23:22:11   Log-Likelihood:                -13551.
No. Observations:                1338   AIC:                         2.711e+04
Df Residuals:                    1333   BIC:                         2.714e+04
Df Model:                           4
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const       -131.3796    629.912     -0.209      0.835   -1367.107    1104.348
age          257.8495     11.896     21.675      0.000     234.512     281.187
bmi          321.8514     27.378     11.756      0.000     268.143     375.559
children     473.5023    137.792      3.436      0.001     203.190     743.814
smoker_no  -1.197e+04    354.354    -33.784      0.000   -1.27e+04   -1.13e+04
smoker_yes  1.184e+04    396.710     29.846      0.000    1.11e+04    1.26e+04
==============================================================================
Omnibus:                      301.480   Durbin-Watson:                   2.087
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              722.157
Skew:                           1.215   Prob(JB):                    1.53e-157
Kurtosis:                       5.654   Cond. No.                     2.29e+17
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 6.72e-29. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

In [58]:
from sklearn.cross_validation import train_test_split

x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.3)

In [59]:
x_train1 = sm.add_constant(x_train)
est1 = sm.OLS(y_train,x_train1)
print(est1.fit().summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                charges   R-squared:                       0.757
Model:                            OLS   Adj. R-squared:                  0.755
Method:                 Least Squares   F-statistic:                     360.2
Date:                Thu, 21 Feb 2019   Prob (F-statistic):          2.52e-278
Time:                        23:45:18   Log-Likelihood:                -9477.5
No. Observations:                 936   AIC:                         1.897e+04
Df Residuals:                     927   BIC:                         1.902e+04
Df Model:                           8
Covariance Type:            nonrobust
====================================================================================
                       coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------
const             -330.7223    519.170     -0.637      0.524   -1349.607     688.162
sex_female        -347.5531    315.056     -1.103      0.270    -965.860     270.754
sex_male            16.8308    339.601      0.050      0.960    -649.644     683.306
smoker_no        -1.223e+04    344.595    -35.489      0.000   -1.29e+04   -1.16e+04
smoker_yes         1.19e+04    367.791     32.352      0.000    1.12e+04    1.26e+04
region_northeast   389.6957    357.155      1.091      0.276    -311.231    1090.622
region_northwest  -104.2961    364.455     -0.286      0.775    -819.548     610.956
region_southeast  -281.6876    398.147     -0.707      0.479   -1063.062     499.687
region_southwest  -334.4343    375.007     -0.892      0.373   -1070.395     401.527
age                261.3639     14.270     18.316      0.000     233.359     289.369
bmi                340.3356     34.498      9.865      0.000     272.632     408.039
children           335.3442    165.266      2.029      0.043      11.005     659.684
==============================================================================
Omnibus:                      205.654   Durbin-Watson:                   1.913
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              501.423
Skew:                           1.160   Prob(JB):                    1.31e-109
Kurtosis:                       5.733   Cond. No.                     1.77e+18
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 7.88e-31. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

In [60]:
x_trainnewP = x_train.loc[:,['age','bmi','children','smoker_no','smoker_yes']]

In [65]:
x_trainnewP1 = sm.add_constant(x_trainnewP)
estnew = sm.OLS(y_train,x_trainnewP1)
est2 = estnew.fit()
print(est2.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                charges   R-squared:                       0.756
Model:                            OLS   Adj. R-squared:                  0.755
Method:                 Least Squares   F-statistic:                     720.6
Date:                Thu, 21 Feb 2019   Prob (F-statistic):          3.06e-283
Time:                        23:54:52   Log-Likelihood:                -9478.9
No. Observations:                 936   AIC:                         1.897e+04
Df Residuals:                     931   BIC:                         1.899e+04
Df Model:                           4
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const       -355.8046    751.696     -0.473      0.636   -1831.019    1119.410
age          261.7725     14.256     18.362      0.000     233.794     289.751
bmi          333.0398     32.737     10.173      0.000     268.794     397.286
children     336.7127    164.794      2.043      0.041      13.303     660.123
smoker_no  -1.226e+04    428.276    -28.618      0.000   -1.31e+04   -1.14e+04
smoker_yes   1.19e+04    465.361     25.573      0.000     1.1e+04    1.28e+04
==============================================================================
Omnibus:                      207.632   Durbin-Watson:                   1.915
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              507.477
Skew:                           1.170   Prob(JB):                    6.35e-111
Kurtosis:                       5.745   Cond. No.                     6.44e+17
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 5.95e-30. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

In [68]:
x_trainnewP1

      const  age     bmi  children  smoker_no  smoker_yes
759     1.0   18  38.170         0          0           1
60      1.0   43  27.360         3          1           0
367     1.0   42  24.985         2          1           0
86      1.0   57  31.160         0          0           1
178     1.0   46  28.900         2          1           0
863     1.0   36  19.855         0          1           0
553     1.0   52  31.730         2          1           0
329     1.0   52  36.700         0          1           0
538     1.0   46  28.050         1          1           0
1009    1.0   51  27.740         1          1           0
201     1.0   48  32.230         1          1           0
1282    1.0   18  21.660         0          0           1
419     1.0   63  26.980         0          0           1
11      1.0   62  26.290         0          0           1
54      1.0   40  28.690         3          1           0
634     1.0   51  39.700         1          1           0
456     1.0   55  30.140         2          1           0
157     1.0   18  25.175         0          0           1
57      1.0   18  31.680         2          0           1
847     1.0   23  50.380         1          1           0
545     1.0   49  25.840         2          0           1
530     1.0   57  42.130         1          0           1
935     1.0   59  27.500         0          1           0
595     1.0   46  33.725         1          1           0
13      1.0   56  39.820         0          1           0
139     1.0   22  36.000         0          1           0
1090    1.0   47  36.190         0          0           1
623     1.0   18  33.535         0          0           1
24      1.0   37  28.025         2          1           0
919     1.0   35  34.210         1          1           0
...     ...  ...     ...       ...        ...         ...
1196    1.0   19  30.020         0          0           1
1041    1.0   18  23.085         0          1           0
631     1.0   24  29.300         0          1           0
757     1.0   47  27.830         0          0           1
1247    1.0   33  29.400         4          1           0
945     1.0   56  35.800         1          1           0
32      1.0   19  28.600         5          1           0
893     1.0   47  38.940         2          0           1
755     1.0   31  27.645         2          1           0
412     1.0   26  17.195         2          0           1
187     1.0   30  30.900         3          1           0
969     1.0   39  34.320         5          1           0
374     1.0   20  33.330         0          1           0
493     1.0   61  43.400         0          1           0
930     1.0   26  46.530         1          1           0
710     1.0   18  35.200         1          1           0
400     1.0   51  20.600         0          1           0
543     1.0   54  47.410         0          0           1
1229    1.0   58  30.305         0          1           0
955     1.0   31  39.490         1          1           0
517     1.0   45  30.495         2          1           0
1053    1.0   47  29.800         3          0           1
431     1.0   29  20.235         2          1           0
523     1.0   38  37.730         0          1           0
1098    1.0   52  30.875         0          1           0
809     1.0   25  25.840         1          1           0
492     1.0   18  25.080         0          1           0
162     1.0   54  39.600         1          1           0
73      1.0   58  32.010         1          1           0
588     1.0   61  35.910         0          1           0

[936 rows x 6 columns]

In [67]:
x_train_pred=est2.predict(x_trainnewP1)
x_train_pred

759     28968.831190
60       8766.118199
367      7376.663384
86      36843.351244
178      9727.604494
863      3424.108439
553     12240.742479
329     13222.525074
538      9107.807962
1009    10313.428340
201     11023.459536
1282    23470.343617
419     37021.880029
11      36530.310003
54       8423.743537
634     14296.584692
456     12496.526786
157     24640.978615
57      27480.828055
847     10523.818805
545     33650.824349
530     40833.510843
935     11990.966464
595     10997.808990
13      15308.699519
139      5136.220845
1090    35900.816133
623     27425.191584
24       7080.241739
919      8279.835313
            ...
1196    26516.329131
1041     -212.078724
631      3428.399082
757     33116.603165
1247     7164.506677
945     14306.592085
32       3569.971862
893     37490.101016
755      5383.051334
412     24750.926495
187      6542.036109
969     10710.410582
374      3723.459412
493     17809.844831
930     10026.933099
710      4159.411479
400      7598.811286
543     41469.930827
1229    12663.370639
955      8991.195429
517      9997.030476
1053    34782.829658
431      2391.681113
523      9900.740468
1098    11282.568071
809      2874.566496
492       452.335735
162     15048.598344
73      13567.916224
588     15315.376514
Length: 936, dtype: float64

In [69]:
# calculating RMSE
from sklearn.metrics import mean_squared_error
from math import sqrt
rms = sqrt(mean_squared_error(y_train,x_train_pred))
rms

6051.861942717387

In [77]:
# calc rms on test data
x_test1 = x_test.loc[:,['age','bmi','children','smoker_no','smoker_yes']]

In [76]:
x_test_pred = est2.predict(x_test2)